

.navbar{
     background-color: #61a0ca93;
   border: none;
   border-radius: none;
 }
 .card{
    background-color: white;
    border-radius: 5px;
    text-align: center; 
       margin-top: 10px;

}
.cards{ 
    z-index: 9999;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color:#f3f3f3;
}
 
 .container-fluid ul li a{
     color: white;
 }
.container-fluid ul li:hover {
cursor: pointer;
cursor: hand;
/* background-color:rgba(67, 110, 134, 0.432); */
font-size: 20px;    
}

.btn{
    display: none;
   
}
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }


@media only screen and (max-width: 720px) {
    .container h3 {
        font-size: 25px;
    }
    .liststyle ul li:hover {
        cursor: pointer;
        cursor: hand;

        font-size: 20px;    
        }

    .btn{
     margin-top:2%; 
        margin-right:10% ;
        display: block;
    float: right;    
    }
}