

.navbar{
     background-color: #61a0ca93;
   border: none;
   border-radius: none;
 }
 .card{
    background-color: white;
    border-radius: 5px;
    text-align: center; 
       margin-top: 10px;

}
 
 .container-fluid ul li a{
     color: white;
 }
.container-fluid ul li:hover {
cursor: pointer;
cursor: hand;
/* background-color:rgba(67, 110, 134, 0.432); */
font-size: 20px;    
}

.btn{
    display: none;
   
}
.fixer{
    position: fixed;
    overflow: hidden;
    z-index: 9999;
    margin-top:50px;
   top: 0;
    right: 0; 
}

@media only screen and (max-width: 720px) {
    .container h3 {
        font-size: 25px;
    }
    .liststyle ul li:hover {
        cursor: pointer;
        cursor: hand;

        font-size: 20px;    
        }

    .btn{
     margin-top:2%; 
        margin-right:10% ;
        display: block;
    float: right;    
    }
}