.card{
    background-color: white;
    border-radius: 3px;
    text-align: center; 
       margin-top: 10px;

}
.card input,textarea{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
span{
    color: red;
}